
body{
  background: url('cafe.pdf') no-repeat 50% 50% fixed; 
  background-size: cover;
}

.info{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}
.header{
	width:350px;
	height: 500px;
	margin-left: auto;
    margin-right: auto;
	margin top: 200px;
	font-size: 100px;
	margin-bottom: -350px;
	font-family: 'Oswald', sans-serif;
	
}
.about{
	font-size: 10px;
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    background:rgba(255,255,255, 0.9);
    height: 60px;
    background:rgba(255,255,255, 0.9);
    padding: 10px;
	margin top: 50px;
}

.skills{
	font-size: 10px;
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    background:rgba(255,255,255, 0.9);
    height: 60px;
    background:rgba(255,255,255, 0.9);
    padding: 10px;
	margin-top: 50px;
}

.examples{
	font-size: 10px;
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    background:rgba(255,255,255, 0.9);
    height: 60px;
    background:rgba(255,255,255, 0.9);
    padding: 10px;
	margin-top: 50px
}
